# Listes des modules Pyton nécéssaire à l'exécution du code
requests
psycopg2_binary
dataclasses
python-dotenv
fastapi
PyInquirer
datetime
re
os (trajet_client, dbconnetion)
dotenv (dbconnetion)
psycopg2 (dbconnetion)